/**#####    MAS USADOS*/
@import url('segundaHoja.css');
.posicionar {
    box-sizing: border-box;   /*modelo de caja*/ 
    position: absolute,relative,static;
    Clear:    both;          /* limpiar del float*/
    Overflow: auto,hidden;
    Margin: 0 auto;
    z-index  : 20;
}
.contenido {
    opacity   : 0;
    filter    : alpha(opacity=0);
    cursor    : pointer;
    visibility: hidden;
}
img{
    transform: rotate(47deg) scale(1.2);
}



/*####  EFECTOS   */
.fondo_imagenes.varias_img {
    background-image:url('imagenes/imagen.png');
    background-size: contain;
    
    background-size: cover;
    background-position: center 30%;
    
    background-image: url('imagenes/azul.png') , url('imagenes/blanco.png'), radial-gradient(circle , #1082e2 , #0f2a9d)
}

.sfumatura.imagenes {
    background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C */
    background-image: linear-gradient(90deg, transparent 79px, #d4abbf 79px, #d4abbf 84px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
}

.sombra_angulos {
    text-shadow : 1px 1px 1px rgba(0, 0, 0, .2);
    box-shadow:0px 0px 0px 5px #fff, 2px 4px 3px 15px rgba(5, 5, 5, 0.23);
    border-radius    : 5px;
    border-image: url(border.png) 25 25 round;
}
 

.circulo {-webkit-clip-path: circle(80px at 100px 90px);}
.ovalo {-webkit-clip-path: ellipse(85px 40px at 140px 90px);}
.triangulo {-webkit-clip-path: polygon(50% 0%, 100% 100%, 0% 75%);}


.sprites span{background-image: url('imagenes/img_sprite.png');}
.figura1{background-position: -15px 0px;}
.figura2{background-position: -171px -5px;}


img.base{
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, 
      color-stop(60%, transparent), 
      from(transparent),to(white)) ;
}

.desenfoque:before {
    content: "";
    background-image: url('imagenes/imagen.png');
    -webkit-filter: blur(5px);

}

/*###### TESTO Y TIPOGRAFIA*/
p::selection{background: yellow;}
p:first-letter {text-transform:uppercase;}
p:first-child:first-letter{text-transform:uppercase;}
p:first-child::first-line{line-height: 50px;}

li:nth-child(even){background: #e5e5e5;} /*aplica saltando un li*/

p {
    font-weight   : bold;
    letter-spacing: 2px;
    content     : "\2665","Ejemplo:"; /* ♥*/
    word-wrap: break-word;
}
