/*  formulario */

input:focus:invalid{
  background: #f8075b;
}
input:focus:valid  {
    background: green;
}
input:focus:invalid + span:after{
    content: ' ✖︎';
    position: relative;
    top: -40px;
    left: 310px;
}
input:valid + span:after {
    content: ' ✔︎';
    position: relative;
    top: -40px;
    left: 310px;
}



/* MENU ACTIVE */
<style>
  .active {
    background-color: green;
  }
</style>

<script src="jquery.min.js"></script>
  $(document).ready(function () {
    $('a.menu').click(function () {
      $('a.menu').removeClass("active");
      $(this).addClass("active");
    });
  });
</script>

<ul id="navi">
  <li><a class="menu" href="#">About MHG</a></li>
  <li><a class="menu" href="#">Workout Programs</a></li>
  <li><a class="menu" href="#">Fitness Tips</a></li>
  <li><a class="menu" href="#">Contact Us</a></li>
  <li><a class="menu" href="#">Read Our Blog</a></li>
</ul>



<!-- ######  RESPONSIVE -->
<link href="estilos_impresora.css" rel="stylesheet" media="print" > 
<link href="estilos_movil.css" rel="stylesheet" media="handheld, only screen and (max-width: 480px)"  />
<link href="estilos_escritorio.css" rel="stylesheet" media="screen and ( min-width:481px )" />

<meta name="viewport" content="width=device-width, initial-scale=1" >

<link href="normalize.css" rel="stylesheet">
<script src="modernizr-2.8.3.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<i class="fa fa-camera-retro fa-2x"></i>

<link href='http://fonts.googleapis.com/css?family=Marck+Script|Mr+De+Haviland' rel='stylesheet' type='text/css'>
<style> h1{font-family: 'Marck Script', cursive;}</style>